# קבצים של מערכת
*.log
*.tmp
*.bak

# תיקיית bin ו-obj (אם את עובדת ב-#C או דוט-נט)
bin/
obj/

# קבצים של Visual Studio Code
.vscode/

# קבצי סביבת עבודה אישיים
*.user
*.suo

# קבצים שנוצרים אוטומטית ע"י build
dist/
build/

# קובצי הגדרות סודיים
.env
