.admin-section {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  font-family: 'Heebo', sans-serif;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  max-width: 1200px;
  margin: 0 auto;
}
h2{
    color: #a41bda;
}
.admin-section h2 {
  text-align: center;
  color:  #540673;
  margin-bottom: 1.5rem;
}

.episodes-layout {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.episodes-list {
  list-style: none;
  padding: 0;
  flex: 1;
}

.episodes-list li {
  margin-bottom: 1rem;
}

.episode-title {
  background-color:#540673;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: right;
  transition: background 0.3s ease;
}

.episode-title:hover {
  background-color:#39024e;
}

.episode-details-container {
  flex: 2;
  min-width: 300px;
}

.add-button,
.load-more {
  background-color:  #b339e4;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-button:hover,
.load-more:hover {
  background-color: #0d1b5c;
}

